.auth-container {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 900px;
}

@media (max-width: 815px) {
  .auth-container {
    margin: 0 auto;
    display: grid;
  }
}
