#root {
  max-width: 1450px;
  margin: 0 auto;
  padding: 2rem;

  /* font */
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* @media() {
} */
